body{
  margin:0;
  padding:0;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  /*background: linear-gradient(to right, #369cd3, #3bd6ad);*/
  /*background: linear-gradient(to top, #eaecc6, #2bc0e4);*/
  /*background-color: #3bd6ad;*/
  overflow: scroll;
  background-color: #88FFFA;
  animation: colorchange 120s infinite;
  -webkit-animation: colorchange 120s infinite;
}

.container{
  margin: 3rem;
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color:#3b5b72;
}

.card{
 margin: 10px;
 height: 11rem;
 max-width:300px;
 min-width: 250px;
 flex-grow: 1;
 border-radius: 10px;;
 background-color: #fff;
 display: flex;
 flex-direction: column;
 justify-content:space-between;
 opacity: 0.9;
 }

#content{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  padding: 20px;
  margin: 0;
  min-height: 10%;
  max-height: 80%;
  overflow: hidden;
  outline: none;
}
.x{
  font-family: 'Indie Flower', cursive;
  /*font-family: 'Nunito', sans-serif;*/
  font-size: 2rem;
  padding: 0;
  width:2.5rem;
  height: 2.5rem;
  background-color: white;
  border-radius: 50%;
  color: #FF8454;
  opacity: 0.2;
  border:none;
  outline: none;
}
.x:hover{
  opacity: 1;
  font-weight: bold;
  cursor: pointer;
}

.plus{
  outline: none;
  border: none;
  height: 2rem;
  width: 2rem;
  margin: 10px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 1rem;
  order:1;
}
.plus:hover{
  cursor: pointer;
  box-shadow: 0 0 10px #fff;
}
.plus:active{
  transform: scale(1.1);
}

footer{
  height: 10%;
  width: 100%;
}
.clear{
 height: 20px;
 width: 60px;
 float: right;
 background-color: white;
 border-radius: 5px;
 margin-bottom: 10px;
 outline: none;
 border:none;
}
.clear:hover{
  box-shadow: 0 0 10px white;
}
.clear:active{
  box-shadow: 0 0 10px white;
  transform: scale(1.1);
}

@keyframes colorchange {
	0% {background-color:#62AFAF;}
	20%{background-color:#A3D192}
	40%{background-color:#FFCC68;}
	60%{background-color:#FC8383;}
	80%{background-color:#6A5F91;}
	100%{background-color:#62AFAF;}
