body{
  margin:0;
  padding:0;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  overflow: scroll;
  display:flex;
  flex-direction: column;
  align-items:center;
  /*background-color: #7A7F87;*/
  animation: colorchange 120s infinite;
  -webkit-animation: colorchange 120s infinite;

}

.container{
  margin: 3rem;
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: auto;
  overflow-y: auto;
}

.card{
 margin: 10px;
 height: 11rem;
 max-width:300px;
 min-width: 250px;
 flex-grow: 1;
 border-radius: 10px;;
 display: flex;
 flex-direction: column;
 justify-content:space-between;
 overflow:hidden;
 /*background-color: #7A7F87;*/
 animation: colorchangeReverse 120s infinite;
 -webkit-animation: colorchangeReverse 120s infinite;
 }

.content{
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 1rem;
  padding: 15px;
  margin: 0;
  overflow: hidden;
  outline: none;
  border: none;
  border-radius: 10px;
  max-height: 80%;
  min-height: 7rem;
  max-width: 80%;
  color: #fff;
  /*background-color: #7A7F87;*/
  animation: colorchangeReverse 120s infinite;
  -webkit-animation: colorchangeReverse 120s infinite;
}
.x{
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  padding: 0;
  width:2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  /*color: #FF8454;*/
  color:#fff;
  opacity: 0.2;
  border:none;
  outline: none;
  box-sizing: border-box;
  /*background-color: #7A7F87;*/
  animation: colorchangeReverse 120s infinite;
  -webkit-animation: colorchangeReverse 120s infinite;
}
.x:hover{
  opacity: 1;
  font-weight: bold;
  cursor: pointer;
}

.plus{
  outline: none;
  border: none;
  height: 2rem;
  width: 2rem;
  margin: 10px;
  border-radius: 50%;
  background-color:transparent;
  color: #fff;
  border: 2px solid #fff;
  font-size: 1rem;
  order:1;
}
.plus:hover{
  cursor: pointer;
  box-shadow: 0 0 10px #fff;
}
.plus:active{
  transform: scale(1.1);
}
footer{
  width: 100%;
  flex:1;
}
.clear{
 height: 60px;
 width: 60px;
 float: right;
 background-color: transparent;
 border-radius: 50%;
 border: 2px solid #fff;
 color:#fff;
 margin-top: 10px;
 outline: none;
}
.clear:hover{
  box-shadow: 0 0 10px white;
}
.clear:active{
  box-shadow: 0 0 10px white;
  transform: scale(1.1);
}
@keyframes colorchangeReverse {
	0% {background-color:#44756C;}
	20%{background-color:#4C4C75;}
	40%{background-color:#5B3A57;}
	60%{background-color:#756B20;}
	80%{background-color:#48754A;}
	100%{background-color:#44756C;}
}
@keyframes colorchange {
	0% {background-color:#61A89B;}
	20%{background-color:#6D6DA8;}
	40%{background-color:#A36183;}
	60%{background-color:#A89A2F;}
	80%{background-color:#68A86A;}
	100%{background-color:#61A89B;}
}

@media(min-width: 1400px){
  .container{
    max-width: 1400px;
    max-height: 80%;
  }
  .card{
    min-width: 300px;
  }
}
